* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}
body {
  background: black;
  overflow: hidden;
}
#again {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font: bold;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0 0 2rem;
}
#between {
  color: aliceblue;
  text-align: right;
  margin: -3rem 1rem 0 0;
  word-spacing: 2px;
  font-size: 20px;
  font: bold;
}
#heading {
  color: aliceblue;
  font-size: 50px;
  margin: 3rem 0 0 14em;
  word-spacing: 1rem;
  transform: scale(2, 1.5);
}
#hr {
  padding: 2px;
  background-color: aliceblue;
  margin-top: 5rem;
}
#questionMark {
  background-color: aliceblue;
  margin: -0.55em 0 0 9em;
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
#guess {
  border: 2px solid aliceblue;
  width: 4.5em;
  height: 1.8em;
  background-color: black;
  color: aliceblue;
  font: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-left: 5em;
  margin-top: 1em;
  border-radius: 5px;
}
#check {
  padding: 0.5rem 2rem;
  font: bold;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 0 0 8.8em;
  border-radius: 5px;
}
#message,
#score,
#highScore {
  /* border: 2px solid aliceblue; */
  width: 31%;
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2em;
  letter-spacing: 3px;
  word-spacing: 5px;
  margin: -6em 0 0 32em;
}
#score {
  margin-top: 1em;
}
#highScore {
  margin-top: 0.8em;
}
#secret {
  display: none;
}

@media only screen and (max-width: 400px) {
  #again {
    border-radius: 2px;
    padding: 2px;
    margin: 1.5rem 0 0 2rem;
    font-size: 1em;
  }
  #between {
    margin: -1.5rem 1rem 0 0;
    font-size: 15px;
  }
  #heading {
    font-size: 15px;
    position: relative;
    top: 2em;
    right: 3em;
    word-spacing: 0;
  }
  #hr {
    padding: 0px;
    margin-top: 7rem;
  }
  #questionMark {
    margin: -0.8em 0 0 11.5em;
    width: 2rem;
    height: 1.5rem;
    font-size: 1em;
  }
  #message,
  #score,
  #highScore {
    width: 65%;
    font-size: 18px;
  }
  #message {
    margin: -2em 0 0 6em;
  }
  #score {
    margin: 0.5em 0 0 6em;
  }
  #highScore {
    margin: 0.5em 0 0 6em;
  }
  #guess {
    width: 5em;
    font: bold;
    height: 2.5em;
    font-size: 12px;
    position: relative;
    top: 15rem;
    left: 3em;
    border-radius: 2px;
  }
  #check {
    padding: 5px;
    font-size: 15px;
    position: relative;
    top: 11.7em;
    left: 6em;
    border-radius: 2px;
  }
}
